vagabundosVENTA/xml-resources/web-service-references/UsuarioWS/wsdl/localhost_8080/vagabundosWS/UsuarioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSUsuario/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSUsuario/">

<xs:element name="agregarUsuario" type="tns:agregarUsuario"/>

<xs:element name="agregarUsuarioResponse" type="tns:agregarUsuarioResponse"/>

<xs:element name="buscarTodos" type="tns:buscarTodos"/>

<xs:element name="buscarTodosResponse" type="tns:buscarTodosResponse"/>

<xs:element name="loginUser" type="tns:loginUser"/>

<xs:element name="loginUserResponse" type="tns:loginUserResponse"/>

<xs:complexType name="loginUser">
<xs:sequence>
<xs:element name="correousuario" type="xs:string" minOccurs="0"/>
<xs:element name="contraseñausuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTodos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarTodosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="idUser" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarUsuario">
<xs:sequence>
<xs:element name="nombreusuario" type="xs:string" minOccurs="0"/>
<xs:element name="correousuario" type="xs:string" minOccurs="0"/>
<xs:element name="contraseñausuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>