vagabundosVENTA/xml-resources/web-service-references/UsuarioWS/wsdl/localhost_8080/vagabundosWS/UsuarioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WSUsuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WSUsuario/" name="UsuarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WSUsuario/" schemaLocation="http://localhost:8080/vagabundosWS/UsuarioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="agregarUsuario">
<part name="parameters" element="tns:agregarUsuario"/>
</message>
<message name="agregarUsuarioResponse">
<part name="parameters" element="tns:agregarUsuarioResponse"/>
</message>
<message name="buscarTodos">
<part name="parameters" element="tns:buscarTodos"/>
</message>
<message name="buscarTodosResponse">
<part name="parameters" element="tns:buscarTodosResponse"/>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<portType name="UsuarioWS">
<operation name="agregarUsuario">
<input wsam:Action="http://WSUsuario/UsuarioWS/agregarUsuarioRequest" message="tns:agregarUsuario"/>
<output wsam:Action="http://WSUsuario/UsuarioWS/agregarUsuarioResponse" message="tns:agregarUsuarioResponse"/>
</operation>
<operation name="buscarTodos">
<input wsam:Action="http://WSUsuario/UsuarioWS/buscarTodosRequest" message="tns:buscarTodos"/>
<output wsam:Action="http://WSUsuario/UsuarioWS/buscarTodosResponse" message="tns:buscarTodosResponse"/>
</operation>
<operation name="loginUser">
<input wsam:Action="http://WSUsuario/UsuarioWS/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://WSUsuario/UsuarioWS/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
</portType>
<binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarTodos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioWS">
<port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
<soap:address location="http://localhost:8080/vagabundosWS/UsuarioWS"/>
</port>
</service>
</definitions>